body{
text-align:center;
background-color:black;
color:white;
}
h1{
font-size:50px;
}
#img1{
width:90%;
}
.img2{
width:40%;
margin:20px;
}
#img4{
width:45%;
}
.img3{
width:40%;
margin:20px;
}
.img5{
width:90%;
margin:20px;
}